body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
button,
textarea,
select {
    font-size: 16px;
}

/* LOGO */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.logo a {
    text-decoration: none;
    color: #000;
}
.logo h1 {
    font-weight: 700;
    font-size: 30px;
}

/* Erros */
.erros {
    right: 10px;
    top: 80px;
    position: fixed;
    z-index: 10;
}
.erros .alert {
    z-index: 999999999999999999999999999999;
    max-width: 400px;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    border-top: 4px solid #a1c4fd;

    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);

    min-height: 50px;
    padding: 10px;
}

form h2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    border-bottom: thin solid rgb(207, 207, 207);
}

form .input-group {
    margin-bottom: 10px;
}
form .input-group-text {
    width: 44px;
}
form .input-group-text .icon {
    font-size: 20px;
    color: #000000ba;
}

button[type="submit"] {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

form .links {
    margin-top: 10px;
}
form .links p a {
    text-decoration: none;
}

.error {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media only screen and (max-width: 400px) {
    .erros {
        left: 10px;
        top: 10px !important;
        max-width: 100%;
    }

    form {
        max-width: none;
        width: 92%;
    }
}