/* Poppins Bold */
@font-face {
    font-family: 'poppins-bold';
    src: url('../font/Poppins/Poppins-Bold.ttf');
}

/* Poppins medium */
@font-face {
    font-family: 'poppins-medium';
    src: url('../font/Poppins/Poppins-Medium.ttf');
}

/* Poppins regular */
@font-face {
    font-family: 'poppins-regular';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}

/* Poppins light */
@font-face {
    font-family: 'poppins-light';
    src: url('../font/Poppins/Poppins-Light.ttf');
}